<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoronaWorldCompare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE796FF0244BC43D00EE4830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE797009244BC44000EE4830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE797014244BC44000EE4830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
